body{
    width: 100vw;
    height: 100vh;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.container{
    border: 2px solid rgba(0,0,0,0);
    display: flex;
    justify-content: center;
}

.text-center{
    font-weight: 600;
    font-size: 3em;
    text-shadow: 3px 5px grey;
}
.calc{
    width: auto;
    height: auto;
    border: 4px solid black;
    border-radius: 2px;
}

#answer{
    width: 90%;
    height: 10%;
    width: 14em;
    height: 3em;
    text-align: right;
}
.calc input{
    margin: 2px 2px;
    height: 3em;
    width: 3em;
    border: 2px solid black;
    font-weight: 700;
    box-shadow: 5px 3px rgb(41, 40, 40);
}
.btn:hover{
    background: rgba(43, 40, 40, 0.8);
    color: green;
}
#answer:hover{
    color: black;
    background: white;
}
